header {
    margin: 15px;
    padding: 10px;
    background: lightskyblue;
    color: blue;
}

body {
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background: lightgrey;
}

.container {
    display: flex;
    width: 500px;
    margin: 20px auto;
    height: 300px;
    display: grid;
    grid-gap: 4px;
    grid-template-rows: 100px 100px 1fr 1fr;
    grid-template-columns: 80px 1fr 30px;
    background: grey;

}

.item1 {
    background: blue;
    grid-row: 1;
    grid-column: 1;
}

.item2 {
    background: white;
    grid-row: 3;
    grid-column: 2;

}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

h3 {
    color: whitesmoke;
    border-bottom: 2px, grey;
    background: darkblue;
}

div {
    border-bottom: 1px solid gray;
    

}

footer {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background: black;
    color: white;
    width: 100%;

}
