header {
   
    padding: 10px;
    background: lightskyblue;
    border: 5px;
    border-style: double;
    border-color: whitesmoke;
    color: blue;
}

body {
    
    font-family: Arial, Helvetica, sans-serif;
    background: darkblue;
}

h1 {

    background-color: whitesmoke;
    color: darkblue;
    text-shadow: 5px 5 px lightskyblue;
     padding: 10px;

   

}

.container {
    display: flex;
    width: 100%;
    height: 300px;
    display: grid;
    grid-gap: 4px;
    grid-template-rows: 100px 100px 1fr 1fr;
    grid-template-columns: 80px 1fr 30px;
    background: grey;

}

.item1 {
    background: blue;
    grid-row: 1;
    grid-column: 1;
}

.item2 {
    background: white;
    grid-row: 3;
    grid-column: 2;

}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}


div {
    
}

h3 {
    color: whitesmoke;
    background: darkblue;
   
   
 
    padding: 5px;
}

ul {

    background: darkblue;
    margin: 20px;
    
    
   
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background: black;
    border: whitesmoke;
    border-width: 5px;
    border-style: double;
    height: 40px;
    padding: 5px;
    color: white;
    width: 100% auto;

}
